<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="free-educational-responsive-web-template-webEdu">
	<meta name="author" content="webThemez.com">
	<title>IIT Guwahati</title>
	<link rel="favicon" href="assets/images/favicon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'login/bootstrap.min_home.css' %}">
	<link rel="stylesheet" href="{% static 'login/font-awesome.min_home.css' %}">
	<link rel="stylesheet" href="{% static 'login/bootstrap-theme_home.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'login/style_home.css' %}">
    <link rel='stylesheet' id='camera-css'  href="{% static 'login/camera_home.css' %}" type='text/css' media='all'>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]-->
	<script src="{% static 'login/html5shiv_home.js' %}"></script>
	<script src="{% static 'login/respond.min_home.js' %}"></script>

	<![endif]-->

</head>
<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a class="navbar-brand" href="index.html">
					<img style="height: 70px; width: 100px;margin:-10px; " src="{% static 'login/iitg_logo.png' %}" alt="Techro HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mainNav">
					<li class="active"><a href="index.html">Home</a></li>
				
					<!--<li class="dropdown">-->
						<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Departments <b class="caret"></b></a>-->
						<!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
							<!--&lt;!&ndash; <li><a href="sidebar-right.html">Right Sidebar</a></li> &ndash;&gt;-->
							<!--<li><a href="#">Biosciences & Bioengineering</a></li>-->
							<!--<li><a href="#">Chemical Engineering</a></li>-->
              <!--<li><a href="#">Chemistry</a></li>-->
              <!--<li><a href="#">Computer Science and Engineering </a></li>-->
              <!--<li><a href="#">Design</a></li>-->
              <!--<li><a href="#">Electronics & Electrical Engineering</a></li>-->
              <!--<li><a href="#">Humanities & Social Science</a></li>-->
              <!--<li><a href="#">Mathematics</a></li>-->
              <!--<li><a href="#">Mechanical Enginnering</a></li>-->
              <!--<li><a href="#">Physics</a></li>-->
              <!---->

						<!--</ul>-->
          </li>	<li><a href="{% url 'login:login' %}">Sign in</a></li>
					<li><a href="{% url 'login:register' %}">Sign up</a></li>


					<!-- <li><a href="price.html">Price</a></li> -->
					<!-- <li><a href="videos.html">Videos</a></li> -->
          
					<!--<li><a href="contact_home.html">Contact</a></li>-->

				</ul>

			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
             <div class="heading-text">							
							<h1 class="animated flipInY delay1"></h1>
							<p></p>
						</div>
            
					<div class="fluid_container">                       
                    <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                        <div data-thumb="{% static 'login/main-gate.jpg' %}" data-src="{% static 'login/main-gate.jpg' %}">
                            <h2>We develop.</h2>
                        </div> 
                        <div data-thumb="{% static 'login/admin-and-library-building-iitg.jpg' %}" data-src="{% static 'login/admin-and-library-building-iitg.jpg' %}">
                        </div>
                        <div data-thumb="{% static 'login/25396_IIT_New.jpg' %}" data-src="{% static 'login/25396_IIT_New.jpg' %}">
                        </div>
                    </div><!-- #camera_wrap_3 -->
                </div><!-- .fluid_container -->
		</div>
	</header>
	<!-- /Header -->

  <div class="container">
    <div class="row">
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'login/1.png' %}" alt="" />
							</div><!--icon box top -->
							
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'login/2.png' %}" alt="" />
							</div><!--icon box top -->
							
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'login/3.png' %}" alt="" />
							</div><!--icon box top -->
							
						</div><!--grey box -->
					</div><!--/span3-->
					<div class="col-md-3">
						<div class="grey-box-icon">
							<div class="icon-box-top grey-box-icon-pos">
								<img src="{% static 'login/4.png' %}" alt="" />
							</div><!--icon box top -->
							
						</div><!--grey box -->
					</div><!--/span3-->
				</div>
    </div>
      <section class="news-box top-margin">
        <div class="container">
            <!-- <h2><span>New Courses</span></h2> -->
            <div class="row">
       
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <!-- <figure><img src="assets/images/news2.jpg" alt=""></figure> -->
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <!-- <p class="title"><h5>Developer</h5></p> -->
                                            <!-- <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p> -->
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <!-- <figure><img src="assets/images/news3.jpg" alt=""></figure> -->
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <!-- <p class="title"><h5>Photography   </h5></p> -->
                                            <!-- <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p> -->
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <!-- <figure><img src="assets/images/news4.jpg" alt=""></figure> -->
                            <div class="caption maxheight2">
                           <div class="box_inner">
                                        <div class="box">
                                            <!-- <p class="title"><h5>Audio Editing</h5></p> -->
                                            <!-- <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. Praesent ves tibuum molestie lacuiirhs. Aenean.</p> -->
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
  
	
      <section class="container">
      <div class="row">
      	<div class="col-md-8"><div class="title-box clearfix "><h2 class="title-box_primary">About Us</h2></div> 
        <p><span>Indian Institute of Technology Guwahati is a public institution established by the Government of India, located in Guwahati, in the state of Assam in India. It is the sixth Indian Institute of Technology established in India.</span></p>
        <p>IIT-Guwahati ranked 14th among 20 institutions classes as world's best small universities in the latest Times Higher Education (THE) ranking in 2016. </p><p>IIT Guwahati has been ranked among the top 100 of the world's dynamic young unuversities by the Times Higher Education(THE) magazine in 2014. </p>
        </div>
              
          
          <!-- <div class="col-md-4"><div class="title-box clearfix "><h2 class="title-box_primary">Up Coming Courses</h2></div>  -->
            <div class="list styled custom-list">
            <ul>
            <!-- <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Mathematics and Computer Science</a></li> -->
            <!-- <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Mathematics and Philosophy</a></li> -->
            <!-- <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Philosophy and Modern Languages</a></li> -->
            <!-- <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">History (Ancient and Modern)</a></li> -->
            <!-- <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Classical Archaeology and Ancient History</a></li> -->
            <!-- <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Physics and Philosophy</a></li> -->
            </ul>
            </div>

         </div>

      </section>

            <div class="container">
                <h1>Search for Faculty here</h1><br>
    	    <form class="form-wrapper cf" action="/home/fac_home/" id="search" name="search" method="post">

                {% csrf_token %}
                <!--<input type="text" placeholder="Search here..." required id="username" name="username">-->
                <input  placeholder="Search here" id="username"  name="username">
	             <button type="submit" form="search" >Search</button>
            </form>
       </div>

    <footer id="footer">
 
		<div class="container">
   <div class="row">
  <div class="footerbottom">
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
          Technology Incubation Centre
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a href="#">
                Green Energy Initiative 
              </a>
            </li>
            <li><a href="#">
                Web courses
              </a>
            </li>
            <li><a href="#">
                IIT Councl Portal
              </a>
            </li>
            <li><a href="#">
              Visiting Campus
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
          
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4> Students' Affairs
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li> <a href="#">
                Academic Affairs </a>
            </li>
            <li><a href="#">
                Right TO information
              </a>
            </li>
            <li><a href="#">
                Anti-Ragging Affidavits
              </a>
            </li>
            <li><a href="#">
              Women's Complaint Committee
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="footerwidget">
        <h4>
          Webmail
        </h4>
        <div class="menu-course">
          <ul class="menu">
            <li><a href="#">
                Quality Improvement Programm
              </a>
            </li>
            <li> <a href="#">
             Campus Map
              </a>
            </li>
            <li><a href="#">
                Right TOinformation
              </a>
            </li>
            <li>
              <a href="#">
                Citizen Centric Administration
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6"> 
            	<div class="footerwidget"> 
                         <h4>Contact</h4> 
                        <p>Indian Institute of Technology Guwahati</p>
            <div class="contact-info"> 
            <i class="fa fa-map-marker"></i> 
Guwahati – 781039, India<br>
            <i class="fa fa-phone"></i>+91-361-2583000<br>
             <i class="fa fa-envelope-o"></i>  pro[AT]iitg.ernet.in
              </div> 
                </div><!-- end widget --> 
    </div>
  </div>
</div>
			<div class="social text-center">
				<!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
				<!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
				<!-- <a href="#"><i class="fa fa-dribbble"></i></a> -->
				<!-- <a href="#"><i class="fa fa-flickr"></i></a> -->
				<!-- <a href="#"><i class="fa fa-github"></i></a> -->
			</div>

			<div class="clear"></div>
			<!--CLEAR FLOATS-->
		</div>
		

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="{% static 'login/modernizr-latest_home.js' %}"></script>
	<script type='text/javascript' src="{% static 'login/jquery.min_home.js' %}"></script>
    <script type='text/javascript' src="{% static 'login/jquery.fancybox.pack_home.js' %}"></script>
    
    <script type='text/javascript' src="{% static 'login/jquery.mobile.customized.min_home.js' %}"></script>
    <script type='text/javascript' src="{% static 'login/jquery.easing.1.3_home.js' %}"></script>
    <script type='text/javascript' src="{% static 'login/camera.min_home.js' %}"></script>
    <script src="{% static 'login/bootstrap.min_home.js' %}"></script>
	<script src="{% static 'login/custom.js_home' %}"></script>
    <script>
		jQuery(function(){
			
			jQuery('#camera_wrap_4').camera({
                transPeriod: 500,
                time: 3000,
				height: '600',
				loader: 'false',
				pagination: true,
				thumbnails: false,
				hover: false,
                playPause: false,
                navigation: false,
				opacityOnGrid: false,
				imagePath: 'assets/images/'
			});

		});
      
	</script>
    
</body>
</html>
